body, html {
  min-height: 100%;
}

body {
  background-color: black;
  background-image: linear-gradient(black, rgb(66, 11, 105), rgb(30, 99, 99), rgb(150, 111, 12), rgb(92, 1, 1), black);
  font-family: courier;
  text-align: center;
  color: rgba(255, 255, 240, 0.637);
  margin-top: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

#output {
  display: none;
}

#waiting {
  display: none;
  font-size: 600%;
}

#emptyinput {
  display: none;
  color: rgb(175, 84, 84);
}

img {
  max-width: 15%;
  margin: 15px;
}

.box {
  background-color: rgba(255, 255, 255, .3);
  margin: 30px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 25px;
  border-radius: 10px;
  align-content: center;
}

#details {
  display: none;
  font-size: 80%;
  margin-left: 30px;
  margin-right: 30px;
}

input {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: ivory;
  text-align: center;
}

button {
  border: 3px solid black;
  border-radius: 15px;
  background-image: radial-gradient(ivory, rgb(116, 1, 1));
  margin: 25px;
  font-size: 140%;
}

button:hover {
  cursor: pointer;
  opacity: .7;
}

li {
  list-style: none;
  color: rgb(236, 236, 201);
}

li:hover {
  cursor: pointer;
  opacity: .5;
}

ul {
  padding-left: 0px;
}

#conditionslist {
  margin-top: 80px;
  font-size: 85%;
}

#conditionsbtn {
  margin-top: 0px;
  font-size: 85%;
  background-image: radial-gradient(rgba(255, 255, 240, 0.336), rgb(75, 1, 1));
}