body, html {
  height: 100%;
}

body {
  background-color: darkred;
  background-image: linear-gradient(black, rgb(66, 11, 105), rgb(47, 161, 161), rgb(199, 146, 14), darkred);
  font-family: courier;
  text-align: center;
  color: rgba(255, 255, 240, 0.637);
  margin-top: 25px;
}

#output {
  display: none;
}

#emptyinput {
  display: none;
  color: rgb(175, 84, 84);
}

img {
  max-width: 15%;
  margin: 15px;
}

.box {
  background-color: rgba(255, 255, 255, .3);
  margin: 30px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 25px;
  border-radius: 10px;
}

input {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: ivory;
  text-align: center;
}

button {
  border: 3px solid black;
  border-radius: 15px;
  background-image: radial-gradient(ivory, red);
  margin: 25px;
  font-size: 140%;
}

button:hover {
  cursor: pointer;
  opacity: .7;
}